
<template name="createPassword">
{{#if unknownref}}
  {{#if actionIs 'reset'}}
    {{> notificationPanel message="createPassword.invalidReset"}}
  {{else}}
    {{> login}}
  {{/if}}
{{else}}
  <h1 class="text-center">{{ i18n 'createPassword.title' title }}</h1>
  <div class="container-fluid">
    <div class="row">
      <form id="signup-form" class="{{action}}" action="action">
        <div class="panel panel-warning">
          <div class="panel-body">

            <div class="row">

              <div class="form-group">
                <label for="signup-password">{{ i18n 'createPassword.choose' }}:</label>
                <input type="password" id="password" class="form-control" maxlength="255" autofocus/>
              </div>

              <div class="form-group">
                <label for="signup-password2">{{ i18n 'createPassword.repeat' }}:</label>
                <input type="password" id="password2" class="form-control" maxlength="255" />
              </div>
            </div>

            <div class="row text-center">
              {{#button type="submit" class="btn btn-primary" id="submit" waitOn=btnWaiting}}
                {{ i18n 'createPassword.button' button }}
              {{/button}}
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
{{/if}}
</template>
