<template name="fineTuneFilters">
<div class="multiple-choice-filters">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          {{> checkbox label=buyer value="buyer" isChecked=isSelected onToggled=onItemToggled }}
        </div>
        <div class="col-md-6">
          {{> checkbox label=distributor value="distributor" isChecked=isSelected onToggled=onItemToggled }}
        </div>
        <div class="col-md-6">
          {{> checkbox label=company value="company" isChecked=isSelected onToggled=onItemToggled }}
        </div>
        <div class="col-md-6">
          {{> checkbox label=personal value="personal" isChecked=isSelected onToggled=onItemToggled }}
        </div>
        <div class="col-md-3">
          {{> checkbox label="(A)" value="a" isChecked=isSelected onToggled=onItemToggled }}
        </div>
        <div class="col-md-3">
          {{> checkbox label="(B)" value="b" isChecked=isSelected onToggled=onItemToggled }}
        </div>
        <div class="col-md-3">
          {{> checkbox label="(C)" value="c" isChecked=isSelected onToggled=onItemToggled }}
        </div>
        <div class="col-md-3">
          {{> checkbox label="(D+)" value="d+" isChecked=isSelected onToggled=onItemToggled }}
        </div>
      </div>
    </div>
  </div>
</div>
</template>
